body {
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  background-color: hsl(212, 45%, 89%);
  height: 100%;
}

.qr-box {
  margin: auto;
  background-color: white;
  border-radius: 10px;
}