@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --yellow-dark: hsl(47, 88%, 35%);
  --gray-900: hsl(0, 0%, 7%);

  --font-small: 14px;
  --bold: 800;
}

body {
  margin: 0;
  height: 100vh;

  font: 500 16px "Figtree", sans-serif;
  background: var(--yellow);
}

main {
  display: flex;
  height: 100%;
}

.card {
  width: min-content;
  height: min-content;
  margin: auto;
  padding: 20px;

  border: 1px solid var(--gray-900);
  border-radius: 15px;
  box-shadow: 8px 8px var(--gray-900);

  background: white;

  .banner {
    border-radius: 10px;
  }

  .tags {
    display: flex;
    padding: 0;
    list-style: none;

    li {
      border-radius: 4px;
      padding: 6px 12px;

      font-size: var(--font-small);
      font-weight: var(--bold);
      background: var(--yellow);
    }
  }

  .pub-date {
    font-size: var(--font-small);
  }

  .title {
    &:hover {
      color: var(--yellow);
    }

    &:active {
      color: var(--yellow-dark);
    }
  }

  .description {
    color: hsl(0, 0%, 42%);
  }

  .author {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .author-name {
      margin: 0px 8px;
      font-weight: var(--bold);
      font-size: var(--font-small);
    }
  }
}

h1 {
  font-weight: var(--bold);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    color: var(--yellow-dark);
  }
}
